.form-connexion {
  display: block;
  width: 90vw;
  margin: auto;
  height: 255px;
  &--openMenu {
    display: none;
  }
  &-title {
    color: rgb(228, 222, 222);
    text-align: center;
    font-family: "Bungee", cursive;
    font-size: 0.9rem;
    @media (min-width: 768px) {
      font-size: 1.7rem;
    }
  }

  &-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

.form-connexion-label--email {
  color: rgb(228, 222, 222);
  font-family: "Bungee", cursive;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    font-size: 1.7rem;
  }
}
.form-connexion-input--email{
  font-size: 1rem;
  border-radius: 5px;
  @media (min-width: 768px) {
    font-size: 1.7rem;
  }
}
.form-connexion-label--password {
  color: rgb(228, 222, 222);
  font-family: "Bungee", cursive;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    font-size: 1.7rem;
  }
}
.form-connexion-input--password{
  font-size: 1rem;
  border-radius: 5px;
  @media (min-width: 768px) {
    font-size: 1.7rem;
  }
}

.form-connexion-button {
  display: flex;
  margin: auto;
  font-size: 0.8rem;
  background: #bbdfc8;
  border-radius: 5px;
  padding: 0.2rem;
  font-family: "Bungee", cursive;
  margin-bottom: 1rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.form-connexion-register {
  display: flex;
  justify-content: center;
  color: #bbdfc8;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.image-passwordVisibility-connexion {
  width: 75%;
  @media (min-width: 768px) {
    width: 100%;
  }
}
.passwordVisibility-connexion {
  position: absolute;
  top: 107px;
  right: 65px;
  @media (min-width: 768px) {
    top: 197px;
    right: 180px;
  }
  @media (min-width: 992px) {
    right: 295px;
  }
  @media (min-width: 1200px) {
    right: 414px;
  }
  @media (min-width: 1800px) {
    right: 700px;
  }
}
.passwordVisibility-connexion:hover > .tooltip {
  visibility: visible;
 }