.articles-back {
  margin-left: 1rem;
  cursor: pointer;
}

.articles-back > img {
  @media (min-width: 768px) {
    width: 5%;
  }
  @media (min-width: 1800px) {
    width: 3%;
  }
}
.articles-detail {
  background: #EFFCF6;
  margin-top: 20%;
  overflow-x: auto;
  display: block;
  @media (min-width: 1800px) {
    margin-top: 10%;
  }
  &--openMenu {
    display: none;
  }
}
.articles-detail-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles-detail-circle {
    background:#75cfb8;
    width: 15rem;
    height:15rem;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    z-index:1;
    @media (min-width: 768px) {
      width: 25rem;
      height: 25rem;
    }
    @media (min-width: 992px) {
      width: 40rem;
      height: 40rem;
    }
    @media (min-width: 1200px) {
      width: 20rem;
      height: 20rem;
    }
  }
.articles-detail-image--img {
  z-index: 2;
  width: 80%;
  @media (min-width: 1200px) {
    width: 40%;
  }
  @media (min-width: 1800px) {
    width: 25%;
  }
  &--1 {
    display: none;
    z-index: 2;
    width: 80%;
    @media (min-width: 1200px) {
      width: 40%;
     }
     @media (min-width: 1800px) {
      width: 25%;
    }
  }
  &--2 {
    display: none;
    z-index: 2;
    width: 80%;
    @media (min-width: 1200px) {
      width: 40%;
    }
    @media (min-width: 1800px) {
      width: 25%;
    }
  }
}
.articles-detail-photos {
  margin: -15px auto;
  position: relative;
  text-align: center;
  padding: 0px;
  margin-bottom: 6px;
  top: -10px;
  background: white;
  border: 2px solid rgba(117,207,184, 0.8);
  box-shadow: 0px 2px 0px 1px rgba(117,207,184, 0.8);
  width: 150px;
  height: 90px;
  border-radius: 40% 40% 55% 55%;
  display: flex;
  justify-content: space-evenly;
  @media (min-width: 768px) {
    top: -40px;
    width: 250px;
    height: 110px;
  }
  @media (min-width: 992px) {
    top: 20px;
  }
  @media (min-width: 1200px) {
    top: -40px;
  }

&-1 {
  width: 20px;
  height: 20px;
  background: #ff3f34;
  border-radius: 50%;
  margin: auto;
  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

&-2 {
  width: 20px;
  height: 20px;
  background: #0fbcf9;
  border-radius: 50%;
  margin: 50px auto;
  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

&-3 {
  width: 20px;
  height: 20px;
  background: #05c46b;
  border-radius: 50%;
  z-index: 2;
  margin: auto;
  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}
}

.articles-detail-infos {
  font-family: "Roboto", sans-serif;
  overflow-x: auto;
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 30vh;
  @media (min-width: 768px) {
    height: 20vh;
  }
  @media (min-width: 1800px) {
    height: 30vh;
  }
  &-title {
    font-family: "Chango", cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
    @media (min-width: 768px) {
      font-size: 2rem;
    }

    &-desc {
      @media (min-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }
}

.articles-detail-photos > span {
  color: black;
}

.articles-quantity {
  display: flex;

}

.articles-detail--qty {
  font-size: 2rem;
  text-align: center;
  margin: 0px 2rem;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
}
.articles-detail--minus, .articles-detail--plus{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #75cfb8;
  text-align: center;
  font-size: 2rem;
  @media (min-width: 768px) {
    font-size: 3rem;
    width: 60px;
    height: 60px;
  }
}

.articles-detail-infos-small {
  height: 100px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.articles-detail-infos-panier {
  display: flex;
  flex-direction: row;

  &--button {
    color: white;
    width: 70%;
    text-align: center;
    background:#75cfb8;
    padding: 1.5rem 0.5rem;
    border-radius: 10px;
    margin: 0 1rem 2rem 0rem;
    cursor: pointer;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &--price {
    width: 30%;
    font-family: "Chango", cursive;
    font-weight: bold;
    font-size: 1.3rem;
    @media (min-width: 768px) {
      font-size: 2rem;
    }

  }
}
.articles-detail-infos-subtitle {
  text-transform:uppercase;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}

span:visited {
  background: chartreuse;
}
