.articles-back {
  margin-left: 1rem;
}
.articles-detail {
  background: #EFFCF6;
}
.articles-detail-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles-detail-circle {
    background:#75cfb8;
    width: 15rem;
    height:15rem;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    z-index:1;
    @media (min-width: 768px) {
      width: 25rem;
      height: 25rem;
    }
  }
.articles-detail-image--img {
  z-index: 2;
  width: 80%;
  &--1 {
    display: none;
    z-index: 2;
    width: 80%;
  }
  &--2 {
    display: none;
    z-index: 2;
    width: 80%;
    text-align: center;
    margin-bottom: 11rem;
    }
}
.articles-detail-photos {
  margin: -15px auto;
  position: relative;
  text-align: center;
  padding: 0px;
  margin-bottom: 6px;
  height: 60px;
  width: 130px;
  background: white;
  border-radius: 70px 50%/35px;
  border: 1px solid rgba(117,207,184, 0.8);
  box-shadow: 0px 2px 0px 1px rgba(117,207,184, 0.8);
  @media (min-width: 768px) {
    height: 78px;
    width: 190px;
  }

&:before {
  content: "";
  height: 47px;
  width: 19px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  box-shadow: -4px -2px 1px 0px rgb(117 207 184 / 80%);
  left: -2px;
  border-right: 0;
  border-top: 0;
  @media (min-width: 768px) {
    height: 76px;
    width: 74px;
  }
}
&:after {
  content: "";
  height: 47px;
  width: 19px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -4px;
  box-shadow: 3px -2px 1px 0px rgb(117 207 184 / 80%);
  left: 112px;
  border-right: 0;
  border-top: 0;
  @media (min-width: 768px) {
    height: 72px;
    width: 85px;
  }
}


&-1 {
  position: absolute;
  top: 32px;
  left: 20px;
  width: 15px;
  height: 15px;
  background: #ff3f34;
  border-radius: 50%;
  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

&-2 {
  position: absolute;
  top: 38px;
  left: 60px;
  width: 15px;
  height: 15px;
  background: #0fbcf9;
  border-radius: 50%;
  @media (min-width: 768px) {
    left: 75px;
    width: 40px;
    height: 40px;
  }
}

&-3 {
  position: absolute;
  top: 32px;
  right: 20px;
  width: 15px;
  height: 15px;
  background: #05c46b;
  border-radius: 50%;
  z-index: 2;
  @media (min-width: 768px) {
    top: 32px;
    right: 15px;
    width: 40px;
    height: 40px;
  }
}
}

.articles-detail-infos {
  font-family: "Roboto", sans-serif;
  overflow: auto;
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 80vh;

  &-title {
    font-family: "Chango", cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
    @media (min-width: 768px) {
      font-size: 2rem;
    }

    &-desc {
      @media (min-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }
}

.articles-detail-photos > span {
  color: black;
}

.articles-quantity {
  display: flex;

}

.articles-detail--qty {
  font-size: 2rem;
  text-align: center;
  margin: 0px 2rem;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
}
.articles-detail--minus, .articles-detail--plus{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #75cfb8;
  text-align: center;
  font-size: 2rem;
  @media (min-width: 768px) {
    font-size: 3rem;
    width: 60px;
    height: 60px;
  }
}

.articles-detail-infos-small {
  height: 100px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.articles-detail-infos-panier {
  display: flex;
  flex-direction: row;

  &--button {
    color: white;
    width: 70%;
    text-align: center;
    background:#75cfb8;
    padding: 1.5rem 0.5rem;
    border-radius: 10px;
    margin: 0 1rem 2rem 0rem;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &--price {
    width: 30%;
    font-family: "Chango", cursive;
    font-weight: bold;
    font-size: 1.3rem;
    @media (min-width: 768px) {
      font-size: 2rem;
    }

  }
}
.articles-detail-infos-subtitle {
  text-transform:uppercase;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}

span:visited {
  background: chartreuse;
}
