.articles-section {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.articles-section-all {
  display: flex;
  margin: 2rem 1rem;
  border: 1px solid #bbdfc8;
  border-radius: 25px;
  overflow:hidden;
  position: relative;
  
}
.articles-section-image {
  background: #bbdfc8;

  &--img {
    width: 150px;
    @media (min-width: 768px) {
      width: 250px;
    }
  }
}

.articles-section-infos {
  margin-left: .5rem;
  color: black;

  &-title {
    font-family: 'Roboto', sans-serif;
    margin:0;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  &-small {
    color: rgba(0,0,0, 0.4);
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  &-price {
    font-weight: 900;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  &-addCart {
    width: 7%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #bbdfc8;
    border-radius: 50%;
    padding: .3rem;
  }
}
.articles {
  height: 80vh;
  margin-top: 20%;
  &--open {
    display: none;
  }
}

.caddy,.home,.account {
  width: 30px;
  @media (min-width: 768px) {
    width: 50px;
  }
}
.caddy {
  position: relative;
}

.footer {
  width: 100%;
  height: 10vh;
  background: #bbdfc8;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px -5px 10px #00b894;
  position:fixed;
  bottom:0;
  padding-top: 1rem;

  @media (min-width: 768px) {
    height: 100px;
  }
  @media (min-width: 1200px) {
    display: none;
  }
  &--openMenu {
    display: none;
  }
}

.section {
  overflow-x: scroll;
  height: 75vh;
  @media (min-width: 1200px) {
   height: 70vh;
  }
}

.counter--count {
  top: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  background:#00b894;
  text-align: center;
  border-radius: 50%;
  z-index: -1;
  color: white;
  padding-bottom: 0.2rem;
  @media (min-width: 768px) {
    top: -18px;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
  }
}
a {
  text-decoration: none;
}

.articles-header {
  margin-top: 20%;
}