.menu {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 30px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  z-index: 100;

  &-point-1 {
    height: 5px;
    width: 5px;
    background: #000;
    border-radius: 50%;
    margin-right: 5px;

  }
  &-point-2 {
    height: 5px;
    width: 5px;
    background: #000;
    border-radius: 50%;

  }
  &-point-3 {
    height: 5px;
    width: 5px;
    background: #000;
    border-radius: 50%;
    margin-right: 5px;

  }
  &-point-4 {
    height: 5px;
    width: 5px;
    background: #000;
    border-radius: 50%;
 
  }
}

.menu-point-1--open {
  width: 20px;
  border-radius: 0;
  margin-right: 0;
  transform: (rotate(-45deg) translate(-9px,5px));
}
.menu-point-4--open {
  width: 20px;
  border-radius: 0;
  margin-right: 0;
  transform: (rotate(45deg) translate(-2px,2px));
}
.menu-point-2--open, .menu-point-3--open{
  display: none;
}
.menu-nav {
  display: none;
  list-style-type:none;
  margin: 0;
  &--open {
    position: fixed;
    list-style-type:none;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 99;
  }
}
.menu-modal {
  position: fixed;
  top: 0;
}
.menu-modal--open {
  transition: all .3s ease-in;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  background: white;
  z-index: 99;

}
.menu-nav--link {
  width: 70%;
  padding-bottom: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 3rem;
  text-align: left;
  font-size: 3rem;
  color: black;
  z-index: 2;
  animation: apparition 4s;
}

@keyframes apparition {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}