.panier > p {
  margin-left: 1rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 992px) {
    font-size: 2rem;
  }
}
.panier > ul {
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 992px) {
    font-size: 2rem;
  }
}
.panier > ul > li {
  margin-left: 3rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 992px) {
    font-size: 2rem;
  }
}

.facture {
  @media (min-width: 1400px) {
    margin-top: 9%;
  }
  
}

.factureList {
  @media (min-width: 1400px) {
    height: 65vh;
    font-size: 1.5rem;
    margin-left: 2rem;
    overflow-y: auto;
  }
}