a {
  text-decoration: none;
}
#root {
  background: #EFFCF6;
}
.accueil {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  background: #EFFCF6;

  &-logo {
    width: 30%;
  }

  &-carrousel {
    display: flex;
    margin: auto;
    width: 90%;
    text-align: center;
    background: #EFFCF6;
    border-radius: 40%;

    &-image {
      width: 80%;
    }
  }
}
.inactive {
      display: none;
  }

.accueil-carrousel--previous, .accueil-carrousel--next {
  color: #EFFCF6;
  font-size: 6rem;
  text-decoration: none;
  margin: auto;
  &:hover {
  color: #199473;
  
}
}
.accueil-title {
  margin: 0 0.5rem;
&-title {
  font-family: "Chango", cursive;
  line-height: 3rem;
  font-size: 1.8rem;
  /* letter-spacing: 0.1rem; */
  margin-right: 3rem;

}
&-paragraph {
  font-size: 1.3rem;
  display: inline-block;
  line-height: 2rem;
  word-spacing: 0.2rem;
}
}
.accueil-button {
  font-family: 'Chango', cursive;
  text-align: center;
  padding: 1.5rem;
  background: #199473;
  border-radius: 60px;
  font-size: 1rem;
  color: #fff;
  &--click {
    color: #fff;
  }
  &--next {

    padding: 1rem;
    color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    vertical-align: middle;
  }
}

