.monCompte {
  display: flex;
  flex-direction: column;

  &-lien {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  &-link {
    color: #000;
    
  }
}

li {
  margin: 1rem 0;
}

.monCompte > h2 {
  text-align: center;
}

#error {
  text-align: center;
  color: red;
  font-weight: bold;
}

.image-passwordVisibility {
  width: 75%;
}
.passwordVisibility {
  position: absolute;
  top: 192px;
  right: 38px;
}
.passwordVisibility:hover > .tooltip {
  visibility: visible;
 }

.tooltip {
  visibility: hidden;
  width: 130px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: -38px;
  left: -70px;
  z-index: 99;
}