.monCompte {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  &--openMenu {
    display: none;
  }
  &-lien {
    display: flex;
    flex-direction: column;
    margin: auto;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  &-link {
    color: #000;
    
  }
}
ul {
  overflow-x: hidden;
  height: 60vh;
  @media (min-width: 1200px) {
    height: 50vh;
  }
}

li {
  margin: 1rem 0;
}

.monCompte > h2 {
  text-align: center;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

#error {
  text-align: center;
  color: red;
  font-weight: bold;
}

.image-passwordVisibility {
  width: 75%;
  @media (min-width: 768px) {
    width: 100%;
  }
}
.passwordVisibility {
  position: absolute;
  top: 192px;
  right: 38px;
  @media (min-width: 768px) {
    top: 288px;
  }
  @media (min-width: 992px) {
    top: 360px;
    right: 110px;
  }
}
.passwordVisibility:hover > .tooltip {
  visibility: visible;
 }

.tooltip {
  visibility: hidden;
  width: 130px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: -38px;
  left: -70px;
  z-index: 99;
}