.category {
  background: #EFFCF6;
  width: 100vw;
  height: 80vh;
  margin-top: 15%;
  overflow-x: hidden;
  &--open {
    display: none;
  }
}

.category-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: #EFFCF6;
  overflow-x: scroll;
  height: 70vh;
  }

.category-type{
  cursor: pointer;
  width: 45%;
  margin: 15px 0.5rem;
  @media (min-width: 768px) {
    margin: 15px 1rem;
  }
  &-image {
    width: 100%;
    
  }
  &-titre {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    color: black;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
}

.category-type-round{
  background: #bbdfc8;
/*   height: 100%;
  width: 100%; */
/*   border-radius: 50%; */
  box-shadow: 10px -10px #75cfb8;
}
.category-title {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  
}

.category-header {
  height: 10vh;
}