.category {
  background: #EFFCF6;
  width: 100vw;
  height: 80vh;
  margin-top: 15%;
  overflow-x: hidden;
  &--open {
    display: none;
  }
}

.category-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background: #EFFCF6;
  overflow-x: scroll;
  height: 70vh;
  @media (min-width: 1024px) {
    overflow-x: hidden;
  }
  }

.category-type{
  cursor: pointer;
  width: 45%;
  margin: 15px 0.5rem;
  @media (min-width: 768px) {
    margin: 15px 1rem;
  }
  @media (min-width: 1200px) {
    margin: 40px 3rem;
    width: 25%;
  }
  @media (min-width: 1800px) {
    width: 15%;
  }
  &-image {
    width: 100%;
    @media (min-width: 1200px) {
      width: 80%;
    }
  }
  &-titre {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    color: black;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
}

.category-type-round{
  background: #bbdfc8;
  box-shadow: 10px -10px #75cfb8;
  @media (min-width: 1200px) {
    height: 150px;
    width: 300px;
    text-align: center;
  }
}
.category-title {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  @media (min-width: 992px) {
    font-size: 2.5rem;
  }
}

.category-header {
  height: 10vh;
}