.searchBar {
  display: flex;
  background: #EFFCF6;
  &-image {
    cursor: pointer;
    width: 8%;
    position: absolute;
    top: 60px;
    right: 65px;
    @media (min-width: 992px) {
     width: 5%;
     top: 80px;
    }
    @media (min-width: 1200px) {
      width: 3%;
      top: 40px;
      right: 600px;   
    }
    @media (min-width: 1400px) {
      right: 745px;   
    }
    @media (min-width: 1800px) {
      width: 3%;
      top: 58px;
      right: 225px;
    }
    &--open {
      display: none;
    }
  }
  &-form {

    &-input {
      display: none;
      border: 0;
      outline: none;
      position: absolute;
      right: -200px;
      font-size: 1rem;
      background: #EFFCF6;
      &-open {
        display: block;
        position: absolute;
        right: 100px;
        top: 60px;
        transition:right 2s;
        border-bottom: 1px solid #55efc4;
        @media (min-width: 768px) {
          font-size: 2rem;
        }
        @media (min-width: 1200px) {
          margin: 5rem 22rem;
        }
        @media (min-width: 1400px) {
          margin: 0rem 22rem;
        }
        @media (min-width: 1800px) {
          margin: 1rem 11rem;
        }
      }
    }
  }
}

.searchBar-menu {
  background: #EFFCF6;
}

.searchBar-menu-barre-1, .searchBar-menu-barre-3 {
  height: 5px;
  width: 20px;
  background: #000;
  position: absolute;
  top: 60px;
  right: 65px;
  display: none;
  cursor: pointer;
  @media (min-width: 992px) {
    top: 80px;
   }
   @media (min-width: 1200px) {
    top: 155px;
    width: 30px;
    right: 390px;    
  }
  @media (min-width: 1400px) {
    right: 430px;    
    top: 70px;
  }
  @media (min-width: 1800px) {
    top: 58px;
    right: 225px;
  }
}
.searchBar-menu-barre-1--open, .searchBar-menu-barre-3--open {
  display: block;
}
.searchBar-menu-barre-1--open {
  transform: (rotate(-45deg) translate(-9px,5px));

}
.searchBar-menu-barre-3--open {
  transform: (rotate(45deg) translate(5px,10px));
}