.searchBar {
  display: flex;
  background: #EFFCF6;
  &-image {
    cursor: pointer;
    width: 8%;
    position: absolute;
    top: 60px;
    right: 65px;
    &--open {
      display: none;
    }
  }
  &-form {

    &-input {
      display: none;
      border: 0;
      outline: none;
      position: absolute;
      right: -200px;
      font-size: 1rem;
      background: #EFFCF6;
      &-open {
        display: block;
        position: absolute;
        right: 100px;
        top: 60px;
        transition:right 2s;
        border-bottom: 1px solid #55efc4;
      }
    }
  }
}

.searchBar-menu {
  background: #EFFCF6;
}

.searchBar-menu-barre-1, .searchBar-menu-barre-3 {
  height: 5px;
  width: 20px;
  background: #000;
  position: absolute;
  top: 60px;
  right: 65px;
  display: none;
  cursor: pointer;
}
.searchBar-menu-barre-1--open, .searchBar-menu-barre-3--open {
  display: block;
}
.searchBar-menu-barre-1--open {
  transform: (rotate(-45deg) translate(-9px,5px));

}
.searchBar-menu-barre-3--open {
  transform: (rotate(45deg) translate(5px,10px));
}