header {
  position: fixed;
  top: 0;
  background: #EFFCF6;
  height: 10vh;
}

.caddyMenuPc {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    position: absolute;
    right: 160px;
    top: 63px;
 }
 @media (min-width: 1400px) {
  top: 68px;
}
}

.caddyMenuPc--count {
  display: none;
  @media (min-width: 1200px) {
    display: block;
    position: absolute;
    right: 163px;
    top: 35px;
    width: 40px;
    height: 40px;
    background: #00b894;
    text-align: center;
    border-radius: 50%;
    z-index: -1;
    color: white;
    padding-bottom: 0.2rem;
    font-size: 2rem;
 }
}