.register {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  height: 80vh;
  @media (min-width: 768px) {
    height: 75vh;
  }
  @media (min-width: 1800px) {
    margin-top: 10%;
  }
  &-title {
    text-align: center;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
}
.register-div {
  overflow-x: hidden;
  overflow-y: scroll;
}
.register-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.3rem 0.5rem 0.3rem 0.5rem;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1800px) {
    margin: 0.3rem 15.5rem 0.3rem 15.5rem;
  }
  & > input {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.2rem;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
    @media (min-width: 992px) {
      margin-left: 6rem;
      margin-right: 6rem;
    }
  }
  
}
.registration-input:focus {
  outline: none;
  border: 2px solid #bbdfc8;
}
.register-button {
  margin: 2rem 5rem;
  padding: 1.2rem;
  background: #bbdfc8;
  font-family: "Bungee", cursive;
  border-radius: 5px;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}