.card {
  width: 90vw;
  height: 30vh;
  margin: 40px auto;
  perspective: 1000px;
  display: none;
  &--open {
    display: block;
  }
}

.blueCard {
  width: 90vw;
  height: 30vh;
  position: relative;
  margin: 40px auto;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.blueCard-face {
  background: #000;
  width: 90vw;
  height: 30vh;
  margin: 40px auto;
  position: absolute;
  box-shadow: 0 1px grey, 2px 0 grey, 1px 2px grey, 2px 1px grey, 2px 3px grey, 3px 2px grey, 3px 4px grey, 4px 3px grey, -3px 5px grey, 5px -2px grey, 5px 6px grey, 6px 5px grey;
  @media (min-width: 1200px) {
    margin: 20px auto;
    height: 45vh;
  }
}

.blueCard-back {
  display: none;
  background: rgb(228, 222, 222);
  width: 90vw;
  height: 30vh;
  margin: 40px auto;
  position: absolute;
  @media (min-width: 1200px) {
    margin: 20px auto;
    height: 45vh;
  }

  &--turn {
    display: block;
  
  }
}
.blueCard-puce {
  background: rgb(228, 222, 222);
  width: 50px;
  height: 25px;
  border-radius: 5px;
  position: absolute;
  top: 25px;
  left: 10px;
  @media (min-width: 1200px) {
    width: 80px;
    height: 50px;
  }
}


.cartePuce {

  &-line1 {
    border: 1px solid black;
    position: absolute;
    top: 6px;
    width: 15px;
    @media (min-width: 1200px) {
    top: 15px;
    width: 25px;
    }
  }
  &-line2 {
    border: 1px solid black;
    position: absolute;
    top: 15px;
    width: 15px;
    @media (min-width: 1200px) {
      top: 28px;
      width: 25px;
    }
  }
  &-line3 {
    border: 1px solid black;
    position: absolute;
    top: 6px;
    right: 0;
    width: 15px;
    @media (min-width: 1200px) {
      top: 15px;
      width: 27px;
    }
  }
  &-line4 {
    border: 1px solid black;
    position: absolute;
    top: 15px;
    right: 0;
    width: 15px;
    @media (min-width: 1200px) {
      top: 28px;
      width: 27px;
    }
  }
  &-demiRond1 {
    background: transparent;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 20% 20% 20% 20%;
    position: absolute;
    top: 2px;
    left: 15px;
    @media (min-width: 1200px) {
      width: 25px;
      height: 25px;
      top: 10px;
      left: 25px;
    }
  }
  &-demiRond2 {
    
  }
  &-connect {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 50px;
    height: 25px;
    background: transparent;
    @media (min-width: 1200px) {
      left: 65px;
    }
  }
}
/* .point {
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 5px;
} */
.arcCercle--1 {
  background: transparent;
  width: 15px;
  height: 15px;
  border-right: 3px solid white;
  position: absolute;
  left: 8px;
  top: 4px;
  border-radius: 50%;
  @media (min-width: 1200px) {
   width: 25px;
   height: 30px;

  }
}

.arcCercle--2 {
  background: transparent;
  width: 15px;
  height: 20px;
  border-right: 3px solid white;
  position: absolute;
  left: 15px;
  top: 2px;
  border-radius: 50%;
  @media (min-width: 1200px) {
    width: 30px;
    height: 35px;
  }
}

.arcCercle--3 {
  background: transparent;
  width: 15px;
  height: 25px;
  border-right: 3px solid white;
  position: absolute;
  left: 24px;
  top: 0px;
  border-radius: 50%;
  @media (min-width: 1200px) {
    width: 35px;
    height: 40px;
  }
}

.triangle {
  height: 5px;
  width: 1px;
  border-bottom: 35px solid rgb(228, 222, 222);
  border-left: 35px solid transparent;
  position: absolute;
  top: 130px;
  left: 10px;
  transform: rotate(135deg);
  z-index: 5;
  @media (min-width: 768px) {
    border-bottom: 60px solid rgb(228, 222, 222);
    border-left: 60px solid transparent;
    top: 170px;
    left: 20px;
  }
  @media (min-width: 992px) {
    border-bottom: 80px solid rgb(228, 222, 222);
    border-left: 80px solid transparent;
    top: 225px;
    left: 30px;
  }

  &-inside {
    height: 5px;
    width: 1px;
    border-bottom: 25px solid #000;
    border-left: 25px solid transparent;
    position: absolute;
    top: 135px;
    left: 11px;
    transform: rotate(135deg);
    z-index: 5;
    @media (min-width: 768px) {
      border-bottom: 50px solid #000;
      border-left: 50px solid transparent;
      top: 174px;
      left: 22px;
    }
    @media (min-width: 992px) {
      border-bottom: 70px solid #000;
      border-left: 70px solid transparent;
      top: 230px;
      left: 31px;
    }
  }
}

.imageBanque {
  background: rgb(1, 1, 97);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 60px;
  @media (min-width: 768px) {
    width: 100px;
    height: 80px;
  }
  @media (min-width: 992px) {
    width: 150px;
    height: 110px;
  }
}

.imageCb {
  background: rgb(4, 149, 168);
  position: absolute;
  top: 85px;
  right: 18px;
  width: 60px;
  height: 40px;
  @media (min-width: 768px) {
    width: 80px;
    height: 60px;
  }
  @media (min-width: 992px) {
    width: 100px;
    height: 80px;
    top: 130px;    
  }
}

.cardNumber-input {
  position: absolute;
  bottom: 95px;
  left: 10px;
  font-size: 0.9rem;
  text-align: center;
  font-family: "Bungee", cursive;
  background: black;
  color: #e4dede;
  border: none;
  @media (min-width: 768px) {
    bottom: 135px;
    left: 45px;
    font-size: 2rem;
  }
  @media (min-width: 992px) {
    bottom: 200px;
    left: 100px;
    font-size: 2.5rem;
  }
  @media (min-width: 1200px) {
    left: 230px;
  }
}

.cardDate-input--month {
  position: absolute;
  bottom: 65px;
  left : 130px;
  font-size: 0.8rem;
  text-align: center;
  font-family: 'Bungee', cursive;
  background: black;
  color: rgb(228, 222, 222);
  border: none;
  width: 50px;
  @media (min-width: 768px) {
    left: 345px;
    font-size: 1.5rem;
  }
  @media (min-width: 992px) {
    left: 420px;
    font-size: 2rem;
    bottom: 131px;
  }
  @media (min-width: 1200px) {
    left: 535px;
  }
}
.cardDate-input--span {
  position: absolute;
  bottom: 65px;
  left : 175px;
  font-size: 0.8rem;
  text-align: center;
  font-family: 'Bungee', cursive;
  background: black;
  color: rgb(228, 222, 222);
  border: none;
  width: 15px;
  @media (min-width: 768px) {
    left: 410px;
    font-size: 1.5rem;
  }
  @media (min-width: 992px) {
    left: 496px;
    font-size: 2rem;
    bottom: 132px;
  }
  @media (min-width: 1200px) {
    left: 600px;
  }
}
.cardDate-input--year {
  position: absolute;
  bottom: 65px;
  left : 185px;
  font-size: 0.8rem;
  text-align: center;
  font-family: 'Bungee', cursive;
  background: black;
  color: rgb(228, 222, 222);
  border: none;
  width: 50px;
  @media (min-width: 768px) {
    left: 435px;
    font-size: 1.5rem;
  }
  @media (min-width: 992px) {
    left: 531px;
    font-size: 2rem;
    bottom: 132px;
  }
  @media (min-width: 1200px) {
    left: 625px;
  }
}

.text-cardDate {
  position: absolute;
  bottom: 77px;
  color: rgb(228, 222, 222);
  font-size: 0.8rem;
  position: absolute;
  left: 85px;
  @media (min-width: 768px) {
    bottom: 82px;
    font-size: 1.5rem;
    left: 235px;
  }
  @media (min-width: 992px) {
    bottom: 155px;
    font-size: 2rem;
    left: 300px;
  }
  @media (min-width: 1200px) {
    left: 420px; 
  }
}

.inputName--surname {
  position: absolute;
  bottom: 20px;
  left: 105px;
  width: 80px;
  font-family: "Bungee", cursive;
  background: black;
  color: #e4dede;
  border: none;
  @media (min-width: 768px) {
    left: 325px;
    width: 150px;
    font-size: 1.5rem;
  }
  @media (min-width: 992px) {
    left: 330px;
    font-size: 2rem;
    bottom: 50px;
  }
  @media (min-width: 1200px) {
   left: 470px;
  }
}

.inputName--name {
  position: absolute;
  bottom: 20px;
  left: 190px;
  width: 100px;
  font-family: "Bungee", cursive;
  background: black;
  color: #e4dede;
  border: none;
  @media (min-width: 768px) {
    left: 485px;
    width: 150px;
    font-size: 1.5rem;
  }
  @media (min-width: 992px) {
   left: 520px;
   font-size: 2rem;
   bottom: 50px; 
  }
  @media (min-width: 1200px) {
    left: 678px;
  }
}

.optionCivil {
  position: absolute;
  bottom: 20px;
  left: 45px;
  width: 50px;
  font-family: "Bungee", cursive;
  background: black;
  color: #e4dede;
  border: none;
  @media (min-width: 768px) {
    left: 205px;
    font-size: 1.5rem;
    width: 100px;
  }
  @media (min-width: 992px) {
    font-size: 2rem;
    bottom: 50px;
  }
  @media (min-width: 1200px) {
    left: 330px; 
  }
}

.blueCard-back--rectangle {
  width: 90vw;
  background: #000;
  height: 30px;
  position: absolute;
  top: 25px;
  @media (min-width: 992px) {
    height: 70px;
  }
}
.blueCard-back--label {
  position: absolute;
  top: 100px;
  left: 150px;
  font-family: "Bungee", cursive;
  @media (min-width: 768px) {
    left: 390px;
    font-size: 1.5rem;
    top: 130px;
  }
  @media (min-width: 992px) {
    left: 470px;
    font-size: 2rem;
    top: 190px;
  }
}
.blueCard-back--cgv {
  position: absolute;
  top: 96px;
  left: 200px;
  font-size: 1rem;
  width: 50px;
  font-family: "Bungee", cursive;
  color: #000;
  @media (min-width: 768px) {
    left: 475px;
    font-size: 1.5rem;
    top: 130px;
  }
  @media (min-width: 992px) {
    left: 570px;
    font-size: 2rem;
    top: 190px;
    width: 100px;
  }
}

.paiement-button {
  visibility: hidden;
  &--turn {
    visibility: visible;
    display: flex;
    margin: 45px auto;
    padding: 0.4rem;
    border-radius: 5px;
    background: #bbdfc8;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
    @media (min-width: 992px) {
      font-size: 2rem;
    }
    @media (min-width: 1200px) {
      margin: 190px auto;
    }
  }
}