.panier-container {
  display: flex;
  border: 1px solid #bbdfc8;
  margin: 1rem 0rem 1rem 1rem;
  padding: 0.7rem 0;
  background: #bbdfc8;
  border-radius: 10px 0 0 10px;
  position: relative;

  &--move {
    left: 100px;
  }
  &-infos {
    margin-right: 1rem;
    width: 100px;
    @media (min-width: 768px) {
      width: 300px;
    }
  }
}
.panier-container-img {
  width: 60px;
  height: 60px;
  border: 1px solid #bbdfc8;
  margin: auto 1rem;
  @media (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
}

.panier-container-reference {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.4rem;
  @media (min-width: 768px) {
    font-size: 2rem;
  }

}

.panier-container-category{
  font-size: 0.7rem;
  margin: 0;
  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}

.panier-container-quantity {
  /* margin-left: 2rem; */
  /* margin-right: 2rem; */
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.panier-container-montant {
  position: absolute;
  right: 0;
  margin-right: 3rem;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.panier-container-add {
  display: none;
  position: absolute;
  right: -100%;
  top: 0;
  background: black;
  color: white;
  padding: 1.7rem;
  transition: right 700ms cubic-bezier(.28,1.29,.89,.65);
  @media (min-width: 768px) {
    padding: 2.2rem;
  }
  &--minus {
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    @media (min-width: 768px) {
      width: 50px;
      height: 50px;
      font-size: 2rem;
    }
  }
  &--plus {
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    @media (min-width: 768px) {
      width: 50px;
      height: 50px;
      font-size: 2rem;
    }
  }
  &--quantity {
    font-size: 1rem;
    text-align: center;
    margin: 0px 1rem;
    color: white;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  &--view {
    right: 0;
    display: flex;
    

  }
}
.panier-container--supp{
  background: red;
  z-index: 2;
  position: absolute;
  top: 0;
  left: -100%;
  padding: 1rem;
  border-radius: 10px 0 0 10px;

  &-img {
    width: 50px;
    @media (min-width: 768px) {
      width: 100px;
    }
  }
  &--move {
    left: 0;
    left: -15%;
  }
}
.panier {
  height: 85vh;
}
.panier-titre {
  text-align: center;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

.panier-retour {
  background: #bbdfc8;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: black;
  cursor: pointer;
  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}

.payment {
  background: rgb(43, 41, 41);
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  border-radius: 10px 10px 0px 0px;
  transition: all 500ms;
  &--open {
    height: 50vh;
  }
}

.checkout {
  border: 5px solid white;
  background: white;
  width: 20%;
  margin: 5px auto;
  border-radius: 10px;
}

.montant {
  margin-left: 1rem;
  font-weight: bold;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}